/*
html{
    background-color: #ffc61e;
}
*/

#nav-big{
    display: block;
}

#nav-small{
    display: none;
}

@media only screen and (max-width:600px){
    #nav-big{
        display: none;
    }

    #nav-small{
        display: block;
    }
}

#nav-title-small {
    font-size: 100%;
}

#menu-img {
    height: 40px;
}

@media only screen and (max-width:450px) {
    #nav-title-small {
        font-size: 70%;
        margin-top: 5px;
        padding: 8px 0px 8px;
    }
}

#showcase {
    /*background: url("../static/images/who.jpg") no-repeat;*/
    background:  no-repeat;
    background-size: contain;
    background-position: center;
}

.slides{
    display:none;
}

.coa{
    width:15%;
    max-width:180px;
}
.kky-big{
    width:50%;
    max-width:600px
}

.bottom-margin{
    margin-bottom:70px;
}

.value{
    height:auto;
}

article {
    width: 90%;
    margin-left: 5%;
}

article header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    color:#09268a;
}

article p {
    font-size: 17px;
    margin-bottom: 50px;
}

#history-1 {
    width: 100%;
    border: 5px solid #09268a;
}

#history-2 {
    width: 33.33%;
    border-left: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
    border-right: 5px solid #09268a;
}

#history-3 {
    width: 33.33%;
    border-bottom: 5px solid #09268a;
}

#history-4 {
    width: 33.33%;
    border-left: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
    border-right: 5px solid #09268a;
}

#history-right img{
    margin-bottom: 50px;
}

#history-right p{
    padding-bottom: 25px;
    border-bottom: 2px solid #ffc61e;
}

.leadership{
    margin-left:15%;
    width:70%;
}

.border-img{
    border: 5px solid #09268a;
}

.cochair-left{
    margin-left: 15%;
    width: 35%;
    float: left;
    border-top: 5px solid #09268a;
    border-left: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
}

.cochair-right{
    width: 35%;
    float: left;
    border-top: 5px solid #09268a;
    border-right: 5px solid #09268a;
    border-bottom: 5px solid #09268a;
}

#fam-trees{
    width: 100%;
}

#life-and-honorary{
    display: flex;
    flex-wrap: wrap;
}

.life-and-honorary-col-1{
    float: left;
    width: 29%;
    margin: 5px 1% 5px 3%;
    text-align: center;
}

.life-and-honorary-col-2{
    float: left;
    width: 29%;
    margin: 5px 2.5% 5px 2.5%;
    text-align: center;
}

.life-and-honorary-col-3{
    float: left;
    width: 29%;
    margin: 5px 3% 5px 1%;
    text-align: center;
}

#Jon-Heidegger{
    width: 100%;
}

/*
body{
    margin-top:80px;
}


@media only screen and (max-width:1242px) and (min-width:917px){
    body{
        margin-top:114px;
    }
}

@media only screen and (max-width:916px) and (min-width:601px){
    body{
        margin-top:148px;
    }
}

@media only screen and (max-width:600px){
    body{
        margin-top:250px;
    }
}
*/
